
/****************************** Trivia Tuesday Sec Start ********************************/

.sec_position {
	margin-top: -1px;
}
.trivia_tuesday{
    background: url(../images/trivia-tuesday_bk.jpg) no-repeat;
    position: relative;
    background-size: 100% 100%;
}
.time{
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    padding:11px 0px;
    width:267px;
    margin: auto;
    position: relative;
    margin-bottom: 23px;
}
/*.time::after{
    position: absolute;
    width:14px;
    height:15px;
    content:"";
    background-position: 100% 100%;
    top:50%;
    transform: translateY(-50%);
    left:0px;
}*/
.time::after {
	position: absolute;
	content: "";
	width: 267px;
	height: 37px;
	background: url(../images/tuesday_txt_bk.png) no-repeat;
	background-size: 100% 100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	left: 0;
	z-index: 0;
}
.time{
	position: relative;
}
.time h5 {
	z-index: 2;
	position: relative;
}
/*05-06-19*/
.time h5{
    font-weight:500;
    letter-spacing: 2px;
}
/**End**/